/*Phần header*/
header {
    background: white;
    border-bottom: 2px solid #27ae60;
    padding-top: 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}
/*=================================================================*/
/*Phần ruột trang chủ*/
.logo img { height: 120px; display: block; }

.main-menu {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.main-menu a { padding: 0 15px; font-weight: bold; }
.main-layout {
    display: flex; /* Đưa Sidebar và Main nằm cạnh nhau */
    margin-top: 20px;
    gap: 20px;
}

.sidebar { flex: 0 0 25%; } /* Sidebar chiếm 1/4 */

.content { flex: 1; }      /* Main chiếm 3/4 còn lại */

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
}
.banner { position: relative; width: 100%; }

.banner img { width: 100%; border-radius: 4px; }

.banner-text {
    position: absolute;
    bottom: 30px;
    right: 30px;
    text-align: right;
    background: rgba(255, 255, 255, 0.7);
    padding: 15px;
}
/*=================================================================*/
/*Phần footer*/
footer {
    background-color: #f9f7f2;
    padding: 60px 0 30px;
    border-top: 5px solid #27ae60;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.footer-col { flex: 1; min-width: 250px; }