<div class="container footer-content">
    <div class="footer-col">
        <h4>Cây Cảnh Nam Thanh Miện</h4>
        <p><i class="fa fa-home"></i> Văn phòng: Xóm 7, Xã Nam Thanh Miện, Thành Phố Hải Phòng</p>
        <p><i class="fa fa-user"></i> Người đại diện: Vũ Bá Hùng</p>
        <p><i class="fa fa-file-invoice"></i> Mã số thuế: 080XXXX111</p>
        <p><i class="fa fa-envelope"></i> vubahungtmhd@gmail.com</p>
        <p><i class="fa fa-phone"></i> Phản ánh: 0393940753</p>
    </div>

    <div class="footer-col">
        <h4>Địa chỉ bán buôn bán lẻ</h4>
        <p>Tại Cơ Sở Chính</p>
        <p>Xóm 7</p>
        <p>Xã Nam Thanh Miện - Thành phố Hải Phòng</p>
        <p>ĐT: 0393940753</p>
    </div>

    <div class="footer-col">
        <h4>Danh mục</h4>
        <ul class="footer-links">
            <li><a href="#" data-link="home">Trang Chủ</a></li>
            <li><a href="#" data-link="cs-bao-hanh">Chính sách bảo hành</a></li>
            <li><a href="#" data-link="cs-doi-tra">Chính sách đổi trả hàng</a></li>
            <li><a href="#" data-link="cs-bao-mat">Chính sách bảo mật</a></li>
            <li><a href="#" data-link="map">Sitemaps</a></li>
        </ul>
    </div>
</div>

<div class="contact-buttons">
    <a href="tel:0393940753" class="btn-call"><i class="fa fa-phone"></i></a>
    <a href="https://zalo.me/0393940753" target="_blank" class="btn-zalo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Icon_of_Zalo.svg/1200px-Icon_of_Zalo.svg.png" width="40" alt="Zalo">
    </a>
