<div class="container">
    <div class="header-content">
        <div class="logo">
            <a href="#" data-link="home">
                <img src="images/LOGOWEB.jpg" alt="Logo">
            </a>
        </div>
        <div class="search-bar">
            <form action="#" class="search-input-group" id="search-form">
                <input type="text" name="q" id="search-input" placeholder="Tìm kiếm cây cảnh...">
                <button type="submit" id="search-btn"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="header-cart">
            <a href="#" data-link="cart">
                <i class="fa fa-shopping-cart"></i>
                <span>Giỏ hàng: <b id="cart-number">0</b></span>
            </a>
        </div>
    </div>
    <nav class="main-menu">
        <a href="#" data-link="home">Trang chủ</a>
        <a href="#" data-link="gioithieu">Giới thiệu</a>
        <a href="#" data-link="tintuc">Tin tức</a>
        <div class="dropdown">
            <a href="javascript:void(0)">Cách chăm sóc <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu">
                <li><a href="#" data-link="cay-van-phong">Cây văn phòng</a></li>
                <li><a href="#" data-link="cay-thuy-sinh">Cây thủy sinh</a></li>
                <li><a href="#" data-link="sen-da">Sen đá xương rồng</a></li>
            </ul>
        </div>
        <a href="#" data-link="bando">Bản đồ</a>
        <a href="#" data-link="lienhe">Liên hệ</a>
        <div class="dropdown">
            <a href="javascript:void(0)">Chính sách <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu">
                <li><a href="#" data-link="cs-mua-hang">Chính sách mua hàng</a></li>
                <li><a href="#" data-link="cs-doi-tra">Chính sách đổi trả hàng</a></li>
                <li><a href="#" data-link="cs-giao-hang">Chính sách giao hàng</a></li>
                <li><a href="#" data-link="cs-bao-mat">Chính sách bảo mật</a></li>
            </ul>
        </div>
    </nav>
</div>